*{
    margin:0;
    font-family: "Montserrat", sans-serif;
    padding:0;
}

.main .logo img {
    margin-left: 10vw;
	width: 130px;
}

.topbar {
	display: flex;
	justify-content: space-between;
	background-color: #101010;
	padding: 14px 30px;
}

.topbar .navbar {
	display: flex;
	align-items: center;
}
.topbar .navbar ul {
    margin-right:1vw ;
	list-style: none;
}
.topbar .navbar ul li {
	display: inline-block;
	margin: 0px 8px;
	width: 70px;
}
.topbar .navbar ul li a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
}
.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
	color:rgb(0, 255, 47);
	/* font-size: 15px; */
}
.topbar .navbar ul li.divider {
	color: #ffffff;
	font-size: 26px;
	/* margin: 0px 20px; */
	width: auto;
}
.topbar .navbar button {

	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	padding: 14px 30px;
	border: 0px;
	border-radius: 40px;
	cursor: pointer;
	/* margin-left: 20px; */
    margin-right: 10vw;
}
.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
	background-color: #f2f2f2;
}