
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Kanit:wght@300&family=Source+Code+Pro&family=Staatliches&family=Stick+No+Bills:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Kanit:wght@300&family=Source+Code+Pro&family=Staatliches&family=Stick+No+Bills:wght@300&family=Ubuntu:wght@300&display=swap');

*{
    font-family: Circular, Helvetica, Arial, sans-serif;
    padding:0;
    margin:0;
}

.banner{
    background-color: #2475d7;
    height: 10vh;
}

.banner__text{
    color: white;
    margin-left: 10vh;
    text-decoration:underline;
    font-size: small;
    cursor: pointer;    
}

.banner_content{
    padding: 1.3vw;
    display: flex;
}

.banner__close{
    margin-left: 70vw;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.main-container {
	margin-left: 0px;
	margin-bottom: 100px;
}

.topbar {
	display: flex;
	justify-content: space-between;
	background-color: #000000;
	padding: 14px 30px;
    height: 10vh;
}
.logo img {
    margin-left: 8vw;
	width: 140px;
    margin-top: 1.5vh;
}
.topbar .prev-next-buttons button {
	color: #7a7a7a;
	cursor: not-allowed;
	width: 44px;
	height: 44px;
	border-radius: 100%;
	font-size: 18px;
	border: 0px;
	background-color: #090909;
	/* margin-right: 10px; */
}
.topbar .navbar {
	display: flex;
	align-items: center;
}
.topbar .navbar ul {
	list-style: none;
}
.topbar .navbar ul li {
	display: inline-block;
	margin: 10px 8px;
	width: 70px;
}
.topbar .navbar ul li a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
}
.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
	color: #00ff3c;
	font-size: 15px;
}
.topbar .navbar ul li.divider {
	color: #ffffff;
	font-size: 26px;
	margin: 0px 20px;
	width: auto;
}
.topbar .navbar button {
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	padding: 14px 30px;
	border: 0px;
	border-radius: 40px;
	cursor: pointer;
	margin-left: 10px;
    margin-right: 10vw;
}
.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
	background-color: #f2f2f2;
}

.premium{
    background-color: #a1248b;    
}
.premium_content{
    margin-left: 10.5vw;
    color: white;
    
}
.premium h1{

    font-size: 2.5em;
    padding-top: 5vh;
    font-weight: bolder;
}

.premium h2{

    font-size: 1.4em;
    padding-top: 5vh;
    font-weight: 100;

}

.getbtn{
    font-weight: bolder;
    margin-top: 7vh;
    margin-right: .5vw;
    color: white;
    height: 9vh;
    width: 19vw;
    border:none;
    background-color: #000000;
    border-radius: 100px;
    cursor: pointer;
}
.getbtn:hover{
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08); 
}

.plansbtn{
    font-weight: bolder;
    background-color:#a1248b;
    color: white;
    height: 9vh;
    width: 13vw;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100px;
    cursor: pointer;
}

.plansbtn:hover{
    background-color:#871d72 ;
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08); 
}

.premium p{
    margin-top: 7vh;
    font-size:.7em;
}

.premium .terms{
    color: white;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}

.premimg{
    margin-top: 6vh;
    height:65vh;
    margin-left: 23vw;
    padding-bottom: 10vh;
}

.power{
    margin-bottom: 20vh;
    padding-bottom: 20vh;
}
.powerbox{
    margin-top: 12vh;
    padding-bottom: 20vh;
    /* display: flex;  */
    margin-bottom: 20vh;
}
/* 
.li{
display: inline;
} */

.tables{
    /* margin-left: 10vw; */
    /* padding-left: 10vw;
     */
    
    float:left;
    margin-top: 6vh;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    overflow: hidden;
}
.power h1{
    /* height: 2em; */
    margin-top: 0vh;
    font-weight: 800;
    text-align: center;
    font-size: 2.3em;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif; ;
}

.boxes{
    margin-left: 10vw;
    display: flex; 
}

.bimg{
    border-radius: 100%;
    height: 20vh;
}

.box_content{
    margin-left: 2vw;
    margin-top: 2vh;
}

.boxes p{
    margin-top:2vh;
    font-weight: bolder;
    font-size: 1.3em;
}

.p2{
    font-size: 1em;
}

.pick{
  
    padding:10vh;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}

.pick_content{
    text-align:center;
}

.pick_content h1{
    font-size: 2em;
}

.pick_content h2{
    margin-top: 1vh;
    font-size: 1em;
    font-weight: lighter;
}

.pickimg{
    height: 7vh;
    margin-top: 2vh;
    margin-bottom: 6vh;
}

.cards{
    margin: 4vh 25vw;
    padding:1vh;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width:37vw;
    box-shadow: 0px 0px 4px rgb(36, 36, 36);
}

.card_content{
    margin-top: 1vh;
    margin-left: 1vw;
}
.bluebtn1{
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    word-spacing: 2px;
    color:#ffffff;
    font-weight: bolder;
    background-color:#2475d7;
    /* border: none; */
    height: 4vh;
    margin: auto;
    border-radius: 2px;
    border: 1.5px solid #2475d7;
}

.bluebtn{
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    word-spacing: 2px;
    color:#2475d7;
    font-weight: bolder;
    background-color: white;
    /* border: none; */
    height: 4vh;
    margin: auto;
    border-radius: 2px;
    border: 1.2px solid #2475d7;
}

.card_content h1{
    margin-top: 1vh;
}

.card_content p{
    margin-top: 1vh;
}

ul {
    list-style: none;
    font-size: large;
  }

  .card_content li{
    margin-bottom: 2vh;
  }
  
  .card_content ul li:before {
    content: '✓  ';
  }

  .viewbtn{
    font-weight: bolder;
    margin-top: 5vh;
    color: white;
    height: 9vh;
    width: 35vw;
    border:none;
    background-color: #000000;
    border-radius: 100px;
    cursor: pointer;
    transition: transform .1s;
}


.viewbtn:hover {
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04); 
  }

.terms_end{
    background-color:transparent;
    border: none;
    text-decoration: underline;
    cursor:pointer;
    margin-top:4vh;
    margin-bottom:4vh;
    font-size: .7em;
    font-weight: bold;
    color: #474646;

}
.termscard {

    margin-top:10vh;
    margin-bottom:4vh;
    font-size: .7em;
    font-weight: bold;
    color: #474646;

}

.learn{
    background-color: rgb(255, 255, 255);
    margin:5vh 5vw;
    box-shadow: 0px 0px 4px rgb(36, 36, 36);
    height: 15vh;
    border-radius: 10px;
}
.learn_content{
    display: flex;
}

.learn_content h1{
    margin: 5vh 1vw;
    color: black;
}

.lmore{
    font-weight: bold;
    height: 9vh;
    width:12vw;
    margin-top: 3vh;
    margin-left: 15vw;
    border-radius: 30px;
    border: 2px solid black;
    transition: transform .1s;
    background-color: white;
}

.lmore:hover {
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08); 
  }

  footer{
    background-color: #000000;
    /* height: 60vh; */
    color: white;
    bottom:0;
}

.footlast .logo{
    /* margin-right: -20vw; */
    margin-top: 11vh;
    /* margin:12vh; */
    left: 0;
}

.footlast{
      display: flex;
    /* margin:0; */
  }

  .footcont{
    width: 2vw;
    margin:18vh;
    /* height: 6vh; */

  }

  .footcont h1{
    font-size: .7em;
    
  }

  .footcont ul {
    width:10vw;
    list-style:none;
    left: 0;
    margin-left: -8vw;
    align-items: start;
  }

  .footcont h1{
    margin-bottom: 6vh;
    font-size: .8em;
    color: #999898;
  }

  .footcont li{
    font-size: .8em;
    margin-bottom: 4vh;
  }

  .footcont a{
    text-decoration: none;
    color:white;
  }

  .footcont a:hover{
    color: #00ff3c;
  }

  .social{

    margin: 20vh;
    margin-left: 0vw;
    
  }

  .social ul{
    display: flex;
  }

  .social li{
    margin-right: 10px;
  }

  .social button{
    height: 10vh;
    width: 5vw;
    border-radius: 100%;
    border:none;
    background-color: #1f1e1e;
    color: white;
    font-size: larger;
  }

  .social button:hover{
    cursor: pointer;
    background-color: #1f1e1e;
    color:#00ff3c;

  }
  
  .world{
    color: #9a9898;
    margin-left: 85vw;
    align-items: end;
    margin-bottom: 3vh;
  }
  .world a{
    font-size: small;
    color: #979696;
  }

  .world a:hover{
    color: #00ff3c;
  }

  .policies{
    height: 10vh;
  }
  .policies ul{
    margin-left: 10vw;
    display: flex;
  }

  .policies li{
    margin-right: 2vw;
    font-size: .65em;
    color: #aaa9a9;
  }

  .policies li:hover{
    color: #00ff3c;
    cursor: pointer;
  }

  .policies h1{
    color: #989797;
    font-size: .65em;
    margin-left: 41vw;
  }